<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - StudyMate AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="loader"></div>

<div id="content">

<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <h1>StudyMate AI</h1>

    <nav>
        <a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('signup') }}">Sign Up</a>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
<a href="{{ url_for('notes') }}">My Notes</a>
<a href="{{ url_for('ai_tools') }}">AI Tools</a>
<a href="{{ url_for('progress') }}">Progress</a>
<a href="{{ url_for('contact') }}">Contact</a>
    </nav>
</header>
<section class="about-container">


    <div class="about-content">

        <h2>About StudyMate AI</h2>

        <p>
            StudyMate AI is an intelligent learning platform that helps
            students organize notes, generate quizzes, create flashcards,
            and monitor learning progress using Artificial Intelligence.
        </p>

    </div>
    <div class="feature-box">

    <div class="feature-card">
        <h3>📄 Smart Notes</h3>
        <p>Organize and summarize notes instantly.</p>
    </div>

    <div class="feature-card">
        <h3>❓ Quiz Generator</h3>
        <p>Create quizzes using AI.</p>
    </div>

    <div class="feature-card">
        <h3>💬 AI Tutor</h3>
        <p>Ask questions anytime.</p>
    </div>

    <div class="feature-card">
        <h3>📈 Progress</h3>
        <p>Track your learning journey.</p>
    </div>

</div>

</section>
<section class="assistant">
<div class="about-image">
        <img src="{{ url_for('static', filename='images/hero.png') }}"class="hero-image">
    </div>
    </section>
<section class="join">
    <h2>Start Your AI Learning Journey Today!</h2>
</section>
<footer>
    <p>© 2026 StudyMate AI. All Rights Reserved.</p>
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>
</body>
</html>